<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block title %}Elliot Jewelry | Home{% endblock %}

{% block amado_nav %}
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    {% comment %} <li><a href="{% url 'product_details' %}">Product</a></li> {% endcomment %}
                    <li><a href="{% url 'cart' %}">Cart</a></li>
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                </ul>
            </nav>
{% endblock amado_nav %}

{% block content %}
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% for product in products %}
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'product_details' product.id %}">
                        <img src="{{ product.productimage_set.first.image.url }}" alt="{{ product.name }}">
                        <div class="hover-content">
                            <div class="line"></div>
                                <p>From ${{ product.price }}</p>
                                <h4>{{ product.name }}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <!-- Product Catagories Area End -->
{% endblock content %}
                                   
{% block footer_menu %}
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'shop' %}">Shop</a>
                                        </li>
                                        {% comment %} <li class="nav-item">
                                            <a class="nav-link" href="{% url 'product_details' %}">Product</a>
                                        </li> {% endcomment %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'checkout' %}">Checkout</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
{% endblock footer_menu %}